%h3= t('bixi_stations.list_in_table.x_records_found_at', x: @bixi_stations.count, datetime: Time.now.strftime("%I:%M %Ss %p"))


%table.table.table-bordered
  %thead
    %th.text-centered= BixiStation.human_attribute_name(:name)
    %th.text-centered= BixiStation.human_attribute_name(:distance_to_fx_innovation)
    %th.text-centered= BixiStation.human_attribute_name(:available_bikes)
    %th.text-centered= BixiStation.human_attribute_name(:useable)
    %th.text-centered{ colspan: 2 }= BixiStation.human_attribute_name(:bixi_checked_at)

  %tbody
    - @bixi_stations.each do |bixi_station|
      - current_bixi_station_state_hash = @current_state_by_official_identifier[bixi_station.official_identifier.to_s].try(:first)
      - present(bixi_station, current_bixi_station_state_hash) do |bixi_station_presented|
        %tr
          %td= bixi_station_presented.name
          %td.text-righted= bixi_station_presented.distance_to_fx_innovation_with_units
          %td.text-righted{ class: bixi_station_presented.available_bikes.try(:zero?) ? :danger : nil }= bixi_station_presented.available_bikes
          %td{ class: bixi_station_presented.useable? ? nil : :danger }= bixi_station_presented.useable_str
          %td.text-centered= bixi_station_presented.bixi_checked_at
          %td= bixi_station_presented.bixi_checked_at_ago_in_words