%h3= t('bixi_stations.list_in_table.x_records_found_at', x: @bixi_stations.count, datetime: Time.now.strftime("%I:%M %Ss %p"))


%table.table.table-bordered
  %thead
    %th.text-centered= BixiStation.human_attribute_name(:name)
    %th.text-centered= BixiStation.human_attribute_name(:available_bikes)
    %th.text-centered= BixiStation.human_attribute_name(:distance_to_fx_innovation)
    %th.text-centered{ colspan: 2 }= BixiStation.human_attribute_name(:bixi_checked_at)

  %tbody
    - @bixi_stations.each do |bixi_station|
      - available_bikes = @current_state_by_official_identifier[bixi_station.official_identifier.to_s].first['ba']
      - bixi_checked_at = Time.at(@current_state_by_official_identifier[bixi_station.official_identifier.to_s].first['lc']/1000)
      %tr
        %td= bixi_station.name
        %td.text-righted{ class: available_bikes.zero? ? :danger : nil }= available_bikes
        %td.text-righted
          = bixi_station.distance_to_fx_innovation
          = t('units.kilometers_short')
        %td.text-centered= l(bixi_checked_at, format: :short)
        %td= time_ago_in_words(bixi_checked_at)