%h3= t('bixi_stations.list_in_table.x_records_found_at', x: @bixi_stations.count, datetime: Time.now.strftime("%I:%M %Ss %p"))


%table.table.table-bordered
  %thead
    %th.text-centered= BixiStation.human_attribute_name(:name)
    %th.text-centered= BixiStation.human_attribute_name(:available_bikes)
    %th.text-centered= BixiStation.human_attribute_name(:useable)
    %th.text-centered= BixiStation.human_attribute_name(:distance_to_fx_innovation)
    %th.text-centered{ colspan: 2 }= BixiStation.human_attribute_name(:bixi_checked_at)

  %tbody
    - @bixi_stations.each do |bixi_station|
      %tr
        %td= bixi_station.name
        %td.text-righted{ class: bixi_station.available_bikes.zero? ? :danger : nil }= bixi_station.available_bikes
        %td.text-righted{ class: bixi_station.useable? ? nil : :danger }= t("common.#{bixi_station.useable?.to_s}")
        %td.text-righted
          = bixi_station.distance_to_fx_innovation
          = t('units.kilometers_short')
        %td.text-centered= l(bixi_station.bixi_checked_at, format: :short)
        %td= time_ago_in_words(bixi_station.bixi_checked_at)