
= form_tag near_fx_innovation_bixi_stations_path, method: :get do
  .form-wrapper
    .input-group.input-group
      .input-group-addon
        - html_attrs = { min: BIXI_FILTER_DISTANCE_BOUNDARIES[:range].min, max: BIXI_FILTER_DISTANCE_BOUNDARIES[:range].max, step: BIXI_FILTER_DISTANCE_BOUNDARIES[:step] }
        = number_field_tag :distance_in_km, @distance_in_km, html_attrs
      %p.form-control= label_tag :distance_in_km, t('.distance_in_km')
    %br
    .input-group.input-group
      = submit_tag t('common.filter'), class: 'btn btn-success'
    %br

= render 'list_in_table'